{
    "env": {
        "es2021": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint",
        "import",
        "prettier",
        "simple-import-sort"
    ],
    "rules": {
        "no-undef": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_",
                "caughtErrorsIgnorePattern": "^_"
            }
        ],
        "prettier/prettier": [
            "warn",
            {
                "endOfLine": "auto",
                "singleQuote": true
            }
        ],
        "indent": [
            "error",
            4,
            { "SwitchCase": 1, "ignoredNodes": ["PropertyDefinition"] }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "never"
        ]
    },
    "overrides": [
        {
            "files": [
                "*.ts"
            ],
            "rules": {
                "@typescript-eslint/no-var-requires": "off",
                "import/newline-after-import": "error",
                "simple-import-sort/imports": [
                    "error",
                    {
                        "groups": [
                            [
                                "^(?!/)[A-Za-z_]"
                            ],
                            [
                                "^\\u0000"
                            ],
                            [
                                "^\\.\\.(?!/?$)",
                                "^\\.\\./?$"
                            ],
                            [
                                "^\\./(?=.*/)(?!/?$)",
                                "^\\.(?!/?$)",
                                "^\\./?$"
                            ]
                        ]
                    }
                ]
            }
        }
    ]
}
